<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dmsv4.dmslauncher">
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="DMS Launcher"
        android:launchMode="singleTask"
        android:stateNotNeeded="true"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.dmsv4.dmslauncher.AppList"
            android:theme="@style/MyMaterialTheme"></activity>
    </application>

</manifest>






